<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.customer.dal.mapper.CustomerBehaviorPointRecordMapper">

    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.customer.dal.entity.CustomerBehaviorPointRecord">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="setting_type" property="settingType"/>
        <result column="task_id" property="taskId"/>
        <result column="point_count" property="pointCount"/>
        <result column="growth_count" property="growthCount"/>
        <result column="operating_action" property="operatingAction"/>
        <result column="behavior_desc" property="behaviorDesc"/>
        <result column="create_by" property="createBy"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, customer_id, setting_type, task_id, point_count, growth_count,
        operating_action, behavior_desc, create_by, updated_by, create_time, update_time
    </sql>

</mapper>