<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.customer.dal.mapper.LabelInfoMapper">

    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.customer.dal.entity.LabelInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="label_type" property="labelType"/>
        <result column="label_status" property="labelStatus"/>
        <result column="create_by" property="createBy"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description, label_type, label_status, create_by, updated_by, create_time, update_time, is_deleted
    </sql>

    <select id="queryByName" resultMap="BaseResultMap">
        select * from label_info where name = #{name}
    </select>

    <select id="queryListBy" resultMap="BaseResultMap">
        select * from label_info where is_deleted = 0
        <if test="name != null and name != ''">
            and `name` like concat('%',#{name},'%')
        </if>
        <if test="status != null">
            and label_status = #{status}
        </if>
        order by create_time desc
        limit #{offset},#{limit}
    </select>

    <select id="queryCountBy" resultType="java.lang.Long">
        select count(*) from label_info where is_deleted = 0
        <if test="name != null and name != ''">
            and `name` like concat('%',#{name},'%')
        </if>
        <if test="status != null">
            and label_status = #{status}
        </if>
    </select>

    <select id="queryByIds" resultMap="BaseResultMap">
        select * from label_info where is_deleted = 0
        and id in
        <foreach item="item" collection="list" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>